body {
  font-family: 'Kreon', serif;
}

p {
  font-weight: 300;
}

.storybox {
  height: 100px;
  margin: 10px 0;
  padding: 15px;
}

.storybox.active {
  height: 200px;
  border: 1px solid black;
  border-radius: 5px;
}

.storybox.dead {
  background-color: red; /* find better color */
  border-color: red;
}

.choice {
  color: red;
}

a.story-link {
  color: red;
}
a.story-link.disabled {
  color: black;
}

a.story-link:hover {
  cursor: pointer;
}
p:hover, a.story-link.disabled:hover {
  cursor: default;
  text-decoration: none;
}
